:root{
    --width: 250px;
    --height: 350px;
    --text-size: 1em;
}

nav{
    width:100%;
    height:2em;
    border-bottom:solid 1px black;
}

/* Settings Section CSS*/
#settings{
    border-bottom: solid 1px black;
    padding:1em;
    display:flex;
    align-items:center;
}

/* Card Page CSS */
#cards{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:center;
}

.card{
    height: var(--height);
    width: var(--width);
    box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
    margin-right:2em;
    margin-bottom:2em;
    perspective: 40px;
}

.card_image{
    height: var(--height);
    width: var(--width);
    margin-bottom:0;
}

.holo{
    position:relative;
    top: calc(-1 * var(--height));
}

/* Set Page CSS */
.set_image{
    max-height: calc(var(--width)/2);
    max-width:calc(var(--height)/2);
}

.set_text{
    width:100%;
    text-align: center;
    font-size: var(--text-size);
}

.set_container{
    height: calc(var(--width)/2);
    width:calc(var(--height)/2);
    display:flex;
    flex-direction:column;
    justify-content:center;
    padding:2em;
    margin-right:2em;
    margin-bottom:2em;
}

#sets{
    margin-top:2em;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:center;
}