; Fill in below with your details
[pokemontcg]
API_key=

[postgresql]
# If you want to run in a terminal, then set host=0.0.0.0
# If you want to run in docker, then set host=db
host=db
dbname=cards
user=cards
password=heresapassword