:root {
    --width: 250px;
    --height: 350px;
    --text-size: 1em;
    --padding: 5em;
    --yellow: #f5cc01;
    --yellow-main: #fedf43;
    --yellow-bright: #fffbe6;
    --yellow-dark: #9d8301;
}

/* Google Fonts */
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
/* Google Fonts End */

input:hover {
    cursor:pointer;
}

body {
    font-family: 'Roboto', sans-serif;
    margin:0;
    padding:0;
    background-color: var(--yellow-bright)
}

a {
    text-decoration: none;
    color:black;
}

.button {
    color:black;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align:center;
    text-decoration: none;
    border: none;}

/* Key frames */
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}