<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="../universal.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> 

    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/universal.css') }}" />
    
    <script src="{{ url_for('static',filename='js/settings.js') }}"></script>
    <script src="{{ url_for('static',filename='js/generate_explore.js') }}"></script>

    <title>Explore All Cards</title>
</head>
<body onload = main()>
    
    <nav id = "navbar">
    
        <h2>Explore All Cards</h2>
    
    </nav>

    <section id = "settings">

        <label for="card_scale">Scale</label>
        <input type="range" id="card_scale" name="card_scale" min="0" max="5"  onChange="update_card_scale(this.value);">
        

    </section>


    <div id = "sets"> </div>


</body>
</html>