<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/universal.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/file_upload.css') }}" />

    <script src="{{ url_for('static',filename='js/settings.js') }}"></script>
    <script src="{{ url_for('static',filename='js/create_card.js') }}"></script>
    <script src="{{ url_for('static',filename='js/generate_library.js') }}"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> 

    <title>Library</title>
</head>
<body onload = main()>
    
    <nav id = "navbar">
        <h2>User Library</h2>
        <a href = /library><h3>Library</h3></a>
        <a href = /explore><h3>Explore</h3></a>
        <a href = /wishlist><h3>Wishlist</h3></a>
    </nav>

    <section id = "settings">

        <label for="card_scale">Scale </label>
        <input type="range" id="card_scale" name="card_scale" min="0" max="5"  onChange="update_card_scale(this.value);">
        
        <label for="card_padding">Padding </label>
        <input type="range" id="card_padding" name="card_padding" min="1" max="15"  onChange="update_card_padding(this.value);">

        <button type="button" id="create_upload_menu" onClick="show_upload_menu();"> Upload Cards </button>
    </section>

    <section id = "cards">

    </section>

    <div id = "upload_menu_container" style = "display:none">

        <h3> Upload images of new cards to your collection! </h3>
            
        <input id="card-upload" type="file" name="file" multiple accept="image/*" />
        <input id="card-upload-submit" type = "submit" value="Upload" onclick = "submit_data();">
            

    </div>


</body>
</html>