:root{
    --width: 250px;
    --height: 350px;
    --text-size: 1em;
    --padding: 0em;
}

body{
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
    color:black;
}

nav{
    width:100%;
    border-bottom:solid 1px black;
    display:flex;
    flex-direction: row;
    align-items:flex-end;
    padding-left:1em;
}

nav h1{
    font-size: 1.5em;
}

nav > *:not(a), nav> a > * {
    margin-right:0.5em;
    padding-right:0.5em;
    border-right:solid 1px black;
}

/* Settings Section CSS*/
#settings{
    border-bottom: solid 1px black;
    padding:1em;
    display:flex;
    align-items:center;
    margin-bottom:1em;
}

#card_padding, #card_scale{
    margin-right:2em;
    margin-left:0.2em;
}

/* Card Page CSS */
#cards{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:center;
    padding-left: var(--padding);
    padding-right: var(--padding);
}

.card{
    width: var(--width);
    box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
    margin-right:2em;
    margin-bottom:2em;
    perspective: 40px;
    border-radius: 1em;
    background-color: #AB59FF
}

.card_image{
    height: var(--height);
    width: var(--width);
    -webkit-filter: brightness(100%);
    filter: brightness(100%);
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}

.card:hover {
    -webkit-filter: brightness(70%);
    filter: brightness(70%);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
    cursor: pointer;
}

.holo{
    position:relative;
    top: calc(-1 * var(--height));
}

/* Set Page CSS */
.set_image{
    max-height: calc(var(--width)/2);
    max-width:calc(var(--height)/2);
}

.set_text{
    width:100%;
    text-align: center;
    font-size: var(--text-size);
}

.set_container{
    height: calc(var(--width)/2);
    width:calc(var(--height)/2);
    display:flex;
    flex-direction:column;
    justify-content:center;
    padding:1em;
    margin-right:1em;
    margin-bottom:1em;
}

#sets{
    margin-top:2em;
    display:flex;
    flex-direction: column;
    justify-content:center;
    padding-left: 10em;
    padding-right:10em;
}

.series_container{
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    justify-content:center;
}

.series_section{
    padding-top:1em;
    display:flex;
    flex-direction:column;
    border-bottom:solid 1px black;
}

.series_label{
    width:100%;
}

/* Set page wishlisting */

.wishlist_container{
    display:flex;
    justify-content:center;
}

.wishlist_add, .wishlist_sub, .wishlist_count{
    width: calc(var(--width) / 2);
    font-size: calc(var(--text-size)*1.1);
    text-align:center;
    margin-right:0.5em;
    margin-left:0.5em;
}
.wishlist_add, .wishlist_sub{
    width: calc(var(--width) / 5);
    border-radius:3px;
}
.wishlist_add:hover{
    background-color: #80FFA9;
}
.wishlist_sub:hover{
    background-color: #FF5D59;
}

/* big card preview */

.big_card_container{
    position:fixed;
    top:0;
    left:0;
    min-width:100%;
    min-height:100vh;
    background-color:rgba(0, 0, 0, 0.923);
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    animation: fadeIn 0.2s;
}

.big_card_close{
    display:flex;
    align-items:center;
    justify-content:center;

    background-color: rgb(236, 38, 12);
    font-size: calc(var(--text-size) * 2);
    font-weight:bold;
    text-align:center;

    padding:0.2em;
    border-radius:0.1em;

    position:absolute;
    left:1em;
    top:1em;
}

.big_card_close:hover{
    background-color:rgb(194, 29, 7);
    cursor:pointer;
}

.big_card_image{
    max-height: calc(var(--height) * 3);
    max-width: calc(var(--width) * 3);
    margin-bottom:1em;
}


/* Key frames */
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}